body{
    background-color: #282828;
    margin: 0;
    padding: 0;
}
.main__wrapper{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}
.navbar{
    position: relative;
    width: 100%;
    background-color: #000000;
}
.navbar__logo{
    margin: 20.5px 0 20.5px 150px;
}
.navbar__links{
    float: right;
    margin: 27px 11.71% 27px 0;
    max-width: 340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar__links-item{
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.navbar__links-item:hover{
    color: bisque;
}
header{
    background-image: url(../images/header_background.png);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:flex-start;
}
.header__description{
    display: inline-block;
    margin: 112px 0 0 10.71%;
    color: #ffffff;
    max-width: 520px;
}
.header__description-logo{
    margin-bottom: 28px;
}
.header__description-main{
    font-size: 36px;
    margin-bottom: 40px;
    
}
.header__description-divider{
    width: 62px;
    border-bottom: 2px solid #fff;
    margin-bottom: 40px;
}
.header__description-additional{
    margin-bottom: 40px;
}
.header__description-button{
    width: 130px;
    border:2px solid #fff;
    text-align: center;
    line-height: 2.4;
    margin-bottom: 112px;
    cursor: pointer;
}
.header__description-button:hover{
    filter:brightness(80%);
}
.header__signup{
    margin: 112px 10.71% 0 10.71%;
    width: 374px;
    background-color: #fff;
    border-radius: 4px;
}
.signup__header{
    text-align: center;
    background-color: #f5f5f5;
    height: 54px;
    font-size: 20px;
    line-height: 2.4;
    border-radius: 4px 4px 0 0;
}
.signup__header-trial{
    color: #ff8b38;
}
.signup__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup__body-input{
    height: 37px;
    outline: none;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
    margin-bottom: 46px;
    max-width: 295px;
    width: 95%;
}
.signup__body-input:nth-child(1){
    margin-top: 30px;
}
.signup__button{
    background-color: #ff8b38;
    border-radius: 0 0 4px 4px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 3.7;
    cursor: pointer;
}
.signup__button:hover{
    filter: contrast(150%);
}
.navbar__icon{
    float: right;
    padding: 20px;
    margin-right: 20%;
    display: none;
    width: 40px;
    cursor: pointer;
}
.brand__bar{
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #b7b7b7;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
.brand__bar-wrapper{
    display: inline-block;
    margin: 0 0 0 10.71%;
    width: 25.71%;
}
.brand__bar-social-main{
    font-size: 20px;
    padding: 25px 0 10px 0;
}
.brand__bar-social-alt{
    font-size: 14px;
    color: #a4a5a8;
    padding-bottom: 16px;
}
.brand__bar-icons{
    float: right;
    width: 45.7%;
    margin: 33px 10.71% 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand__bar-item{
    height: 45px;
    width: 50px;
    background-image: url(../images/sosial_media_icons.png);
    cursor: pointer;
}
.brand__bar-item:nth-child(2){
    background-position:15%;
}
.brand__bar-item:nth-child(3){
    background-position:32%;
}
.brand__bar-item:nth-child(4){
    background-position:48%;
}
.brand__bar-item:nth-child(5){
    background-position:65%;
}
.brand__bar-item:nth-child(6){
    background-position:83%;
}
.brand__bar-item:nth-child(7){
    background-position:100%;
}
.brand__bar-item:hover{
    filter: contrast(120%);
}
.main__features{
    background-color: #fff;
    background-color: #f5f5f5;
}
.main__features-wrapper{
    margin: 145px 10.71% 0 10.71%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 115px;
}
.main__features-tab{
    width: 112px;
    height: 112px;
    background-color: #333333;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 7;
    margin-bottom: 2px;
    cursor:pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.main__features-tab:nth-child(1){
    border-radius: 4px 4px 0 0;
}
.main__features-tab:nth-child(3){
    border-radius: 0 0 4px 4px;
}
.transition__title{
    font-size: 20px;
    font-weight: bold;
    margin:8px 0 57px 0;
}
.transition__content{
    font-size: 14px;
    color: #a2a3a6;
    width: 476px;
    margin-bottom: 25px;
    margin-right: 10px;
}
.main__features-display-transition{
    width: 486px;
    overflow: hidden;
    margin-bottom: 35px;
}
.transition__wrapper{
    margin: 0 7.142% 0 7.142%;
}
.main__features-transition-block{
    position: relative;
    background-color:aqua; 
    width: 1500px;
    transition: all ease 1.5s;
}
.transition-block{
    float: left;
}
.main__features-button{
    color: #fff;
    background-color: #ff8b38;
    width: 121px;
    height: 46px;
    text-align: center;
    line-height: 2.8;
    cursor:pointer;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.main__features-button:hover{
    opacity: 0.9;
}
.main__procesess{
    background-color: #ffffff;
}
.main__content-wrapper{
    padding: 108px 10% 106px 10%;
}
.main__content-title{
    font-size: 36px;
    width: 405px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    
}
.main__content-divider{
    width: 62px;
    border-bottom: 2px solid #ff8b38;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.main__content-inscription{
    font-size: 14px;
    width: 405px;
    text-align: center;
    color: #a4a5a8;
    margin: 0 auto;
    margin-bottom: 80px;
}
.main__procesess-wrapper{
    display: flex;
    justify-content: space-between;
}
.main__procesess-block{
    width: 30%;
}
.main__procesess-content-lable{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    margin: 0 auto;
    margin-bottom: 28px;
}
.main__procesess-content-title{
    width: 200px;
    text-align: center;
    margin: 0 auto 28px auto;
    font-size: 20px;
    font-weight: bold;
}
.main__procesess-content-inscription{
    font-size: 14px;
    color: #86878b;
    text-align: center;
}
.lable-img{
    display: block;
    margin: 22px auto;
}
.main__pricing{
    background-color: #f5f5f5;
}
.main__pricing-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.main__pricing-block{
    width: 30.6%;
}
.main__pricing-block-style{
    text-align: center;
    background-color: #333333;
    margin-bottom: 1px;
}
.main__pricing-block-header{
    color: #ffffff;
    line-height: 2.8;
    font-size: 20px;
}
.price-img{
    margin-top: 30px;
}
.main__pricing-block-payment{
    font-size: 14px;
    font-weight: bolder;
    color: #999999;
    line-height: 3.7;
    margin-bottom: 0;
}
.main__pricing-block-most-popular{
    border:2.5px solid #ff8b38;
    background-color: #ff8b38;
    text-align: center;
    color: #ffffff;
}
.main__pricing-block-additional{
    font-size: 14px;
    color: #86878b;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 1px;
    line-height: 2.9;
}





@media all and (max-width:1210px){
    .main__features-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .transition__wrapper{
        margin: 0 0 150px 20%;
    }
}
@media all and (max-width:970px){
    .main__features-wrapper{
        display: block;
        margin: 145px 5% 0 5%;
    }
    .main__features-wrapper::after{
        content: "";
        display: block;
        clear: both;
    }
    .main__features-tabs{
        float: left;
    }
    .transition__wrapper{
        margin: 0 0 60px 20%;
        float: left;    
    }
    .main__features-img{
        float: left;
        margin: 90px 0 50px 30%;
    }
}
@media all and (max-width:850px) {
    
    header{
        background-repeat: repeat;
        flex-direction: column;
        align-items:center;
    }
   
    .header__signup{
        margin-bottom: 112px;
        margin-top: 90px
    }
    .brand__bar-icons{
        justify-content: flex-start;
    }
    .brand__bar-item{
        margin: 0 10px 10px 10px;
    }
    .brand__bar-item:nth-child(4){
        margin-right:11%;
    }
    .transition__wrapper{
        margin: 0 0 60px 10%;
    }
    .main__features-img{
        display: block;
        margin: 0 auto;
        padding: 70px 0 70px 0;
        float: none;
    }
    
}
@media all and (max-width:765px){
    .navbar__links{
        position: absolute;
        flex-direction: column;
        background-color:aliceblue;
        width: 170px;
        top:40px; left: 60%;
        border-radius: 2px;
        display: none;
        
    }
    .navbar__icon{
        display: block;
    }
    .navbar__links-item{
        color: gray;
        font-size: 20px;
        padding: 10px;
        height: 100%;
        text-align: center;
        border-bottom: 1px solid gray;
    }
    .navbar__links-item:hover{
        background-color: gray;
        color:burlywood;
        filter: contrast(150%);
    }
    .brand__bar-item:nth-child(4){
        margin: 0 10px 10px 10px;
    }
    .brand__bar-wrapper{
        margin-bottom: 40px;
    }
    .transition__content{
        width: 366px;
    }
    .main__features-display-transition{
        width: 376px;
        margin-bottom: 15px;
    }
    .main__features{
        overflow: hidden;
    }
    .main__features-wrapper{
        margin-left:  0;
        width: 100%;
    }
    .main__features-tabs{
        margin-left: 4%;
    }
}
@media all and (max-width:570px){
    .transition__content{
        width: 280px;
    }
    .main__features-display-transition{
        width: 286px;
        margin-bottom: 10px;
    }
    .main__features-wrapper{
        margin-top: 60px;
        padding-bottom: 55px;
    }
    
    
}
@media all and (max-width:480px){
    .brand__bar-item{
        margin: 0 10px 4px 10px;
    }
    .brand__bar-icons{
        margin-top: 10px;
    }
    .transition__content{
        width: 230px;
    }
    .main__features-display-transition{
        width: 235px;
        margin-bottom: 6px;
    }
    .transition__title{
        width: 180px;
    }
    .header__signup{
        margin-top: 0;
    }
    .main__features-button{
        float: right;
        margin:50px 30px 0 0;
    }
    .main__features-tab{
        width: 100px;
        height: 100px;
    }
    
}
@media all and (max-width:390px){
    .navbar__logo{
        margin-left: 80px;
    }
    .transition__content{
        width: 200px;
    }
    .main__features-display-transition{
        width: 205px;
    }
    .header__signup{
        width: 360px;
    }
    .main__features-button{
        margin:20px 30px 0 0;
    }
    .main__features-tabs{
        margin-left: 2%;
    }
}
@media all and (max-width:360px){
    .header__signup{
        width: 320px;
    }
    .transition__title{
        width: 160px;
    }
    .transition__content{
        width: 160px;
    }
    .main__features-display-transition{
        width: 165px;
    }
    .header__signup{
        width: 320px;
    }
    
}




