body{
    background-color: #282828;
    margin: 0;
    padding: 0;
}
.main__wrapper{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    height: 500px;
}
.navbar{
    width: 100%;
    background-color: #000000;
}
.navbar__logo{
    margin: 20.5px 0 20.5px 150px;
}
.navbar__links{
    float: right;
    margin: 27px 17.71% 27px 0;
    max-width: 340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar__links-item{
    color: #ffffff;
    font-size: 14px;
    
}